.links-wrapper {
    margin-top: 56px;
}

.links-wrapper a {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAECF0;
    border: 1px solid #EAECF0;
    padding: 24px 32px;
    margin-bottom: 34px;
    border-radius: 8px;
    color: #101828;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 28px;
}

.links-wrapper a:hover {
    background-color: #D0D5DD;
}

.link {
    position: relative;
}

.subtext {
    position: absolute;
    bottom: -35px;
    width: 100%;
    text-align: center;
    padding: 5px 1px;
    background-color: rgb(38, 38, 38);
    color: white;
    margin-bottom: 10px;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.pitch:hover .subText-pitch,
.book__desing:hover .subText-book__desing,
.book__python:hover .subText-book__python,
.books:hover .subText-books {
    display: block;
}